RAKUTEN_APPLICATION_ID=your_application_id
RAKUTEN_AFFILIATE_ID=your_affiliate_id
RAKUTEN_ACCESS_KEY=your_access_key
RAKUTEN_ALLOWED_ORIGIN=https://shudenhotel.jp
PUBLIC_BASE_URL=https://shudenhotel.jp
GOOGLE_ANALYTICS_MEASUREMENT_ID=G-542370310
GOOGLE_SITE_VERIFICATION=z2cnfDF9eYms_B21Y6_3g3p9xQ1CrpzjKK02j2OfeLo
INDEXNOW_KEY=shudenhotelindex2026
BOOTH_SHOP_URL=https://chitamaru.booth.pm
ASPNETCORE_ENVIRONMENT=Production
